<!DOCTYPE html>
<html lang="pt-br">
  <main class="container-fluid pt-5 mt-5">
    <div class="bg-light p-5 rounded">
      <h1>Bem vindo a sua Plataforma [nome do Usuário]</h1>
      <p class="lead">Clique no cartão abaixo para escolher uma categoria.</p>
    </div>
  </main>

  <div class="container-fluid mt-5 mb-5">
    <section class="cards-container">
      <div class="row">
        <div class="col-12 col-sm-2">
          <div class="card">
            <img src="assets/imgs/AdmGeral2.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <p class="card-text">ADM. Geral</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <div class="card">
            <img src="assets/imgs/AdmCurso.jpeg" alt="" class="card-img-top">
            <div class="card-body">
              <p class="card-text">ADM. Curso</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <div class="card">
            <img src="assets/imgs/estudante2.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <p class="card-text">Aluno</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <div class="card">
            <img src="assets/imgs/Professor.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <p class="card-text">Professor</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <div class="card">
            <img src="assets/imgs/Disciplinas.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <p class="card-text">Disciplinas</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-2">
          <div class="card">
            <img src="assets/imgs/Cursos3.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <p class="card-text">Cursos</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>



</html>