<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
<body class="text-center">
    <main>
        <div>
            <img src="#"/>
            <h1>Logar na sua conta</h1>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="emailLogin" >
            <label for="emailLogin">Endereço de e-mail</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="senhaLogin">
            <label for="emailLogin">Senha</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="lembrar-me">lembrar-me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-success" type="submit">Logar</button>
        <p class="mt-5 mb-3 text-muted">&copy; Desenvolvido em 2021</p>
    </main>
</body>
</html>